

.header-div {
    margin-left: 40px;
    margin: 20px;
    padding-left: 30px;
}

h1{
    padding-left: 100px;
    padding-top: 150px;
    color: #182A49;
    line-height: 1.5;
    font-size: 3rem;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.header-img {
    float: right;
    height: 400px;
    margin-left: 20px;
}

